.btn {
  &-outline {
    &-green {
      font-family: inherit;
      background-color: inherit;
      color: $green;
      border: solid 1px $green;
      border-radius: 0.3rem;
      padding: 0.5rem 0.9rem;
      line-height: 1;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;
      &:hover {
        outline: none;
        box-shadow: 4px 4px 0 0 $green;
        transform: translate(-5px, -5px);
      }
    }
  }
}
