.bg-00 {
    background-color: $white-1 !important;
  }
  
  .color-00 {
    color: $white-1 !important;
  }
  
  .bg-01 {
    background-color: $green-2 !important;
  }
  
  .color-01 {
    background-color: $one-color-primary;
    color: $green-2 !important;
  }
  
  .color-02 {
    background-color: $four-color-primary;
    color: $four-color-secondary !important;
  }
  
  .bg-03 {
    background-color: $yellow-2 !important;
  }
  
  .color-03 {
    color: $yellow-2 !important;
  }
  
  .bg-04 {
    background-color: $green-3 !important;
  }
  
  .color-04 {
    color: $green-3 !important;
  }
  
  .bg-04 {
    background-color: $green-3 !important;
  }
  
  .color-04 {
    color: $green-3 !important;
  }
  
  .bg-05 {
    background-color: $pink-2 !important;
  }
  
  .color-05 {
    color: $pink-2 !important;
  }
  
  .is-component {
    background-color: $green-7;
    color: $black-1;
  }
  
  .is-component-1 {
    background-color: $one-color-primary;
    color: $one-color-secondary !important;
  }
  
  .is-component-2 {
    background-color: $two-color-primary;
    color: $two-color-secondary !important;
  }
  
  .is-component-3 {
    background-color: $three-color-primary;
    color: $three-color-secondary !important;
  }
  
  .bg-menu01 {
    background-color: $yellow-2;
    color: $green-6 !important ;
  }
  .bg-menu02 {
    background-color: $green-8;
    color: $green-6 !important ;
  }
  .bg-menu03 {
    background-color: $green-11;
    color: $green-6 !important ;
  }
  .bg-menu04 {
    background-color: $green-5;
    color: $green-6 !important ;
  }
  
  // *******************************
  // ** Loading Background Color **
  // *******************************
  
  .loading {
    &-bg-00 {
      background-color: $green-7;
    }
    &-bg-01 {
      background-color: $blue-3;
    }
    &-bg-02 {
      background-color: $white-2;
    }
    &-bg-03 {
      background-color: $blue-3;
    }
    &-bg-04 {
      background-color: $green-7;
    }
  }
  
  // *****************************
  // ** Footer Background Color **
  // *****************************
  
  .footer {
    &-bg-00 {
      background-color: $green-7;
    }
    &-bg-01 {
      background-color: $blue-3;
    }
    &-bg-02 {
      background-color: $white-2;
    }
    &-bg-03 {
      background-color: $blue-3;
    }
    &-bg-04 {
      background-color: $green-7;
    }
  }
  // ************************
  // ** Project Components **
  // ************************
  
  .projectC-bg-00 {
    background-color: $green-7;
    color: $black-1;
  }
  .projectC-bg-01 {
    background-color: $yellow-2 !important;
  }
  .projectC-bg-02 {
    background-color: $green-3 !important;
  }
  .projectC-bg-03 {
    background-color: $pink-2 !important;
  }
  
  .projectC-hover-00 {
    color: $black-1;
    & :hover {
      border-radius: 1rem;
      background-color: #0080a8;
    }
  }
  .projectC-hover-01 {
    & :hover {
      background-color: $yellow-2 !important;
      border-radius: 1rem;
    }
  }
  .projectC-hover-02 {
    & :hover {
      border-radius: 1rem;
      background-color: $green-3 !important;
    }
  }
  .projectC-hover-03 {
    & :hover {
      border-radius: 1rem;
      background-color: $pink-2 !important;
    }
  }
  
  // Redux Alert colors
  
  .bg-success {
    background-color: $green-8;
  }
  .bg-error {
    background-color: $red-1;
  }