.work {
  min-height: 80vh;
  font-family: $font-sans;
  @extend .is-size-2;
  border: solid 1px red;

  &Names {
    margin-bottom: 2rem;
  }

  &Info {
    color: $slate;
    font-family: $font-sans;
    @extend .is-size-2;
    &Title {
      color: $lightest-slate;
    }
    &Dates {
      margin-bottom: 1.5rem;
      @extend .is-size-3;
    }

    &Description {
      & li {
        list-style-type: none;
        margin-bottom: 1rem;
        font-family: $font-sans;
        list-style-image: url('/assets/icons/arrow-right-circle-fill.svg');
      }
    }
  }
}
