.aboutMe {
  color: $slate;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 15rem 0 5rem 0;

  &Description {
    width: 100%;
    & p {
      margin-bottom: 1rem;
      font-family: $font-sans;
      @extend .is-size-2;
    }
  }

  &Tecnologies {
    display: grid;
    width: fit-content;
    // border: solid 1px red;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem auto 0;
    list-style-type: none;
    // align-items: center;
    & li {
      margin: 0.5rem 2rem;
      font-family: $font-mono;
      align-items: center;
      @extend .is-size-4;
      list-style-image: url('/assets/icons/arrow-right-circle-fill.svg');
    }
  }
}

@include mediaMin(md) {
  .aboutMe {
    &Description {
      width: 50%;
    }
  }
}

@include mediaMin(lg) {
  .aboutMe {
    &Description {
      width: 55%;
    }
  }
}
