.aboutMe {
  min-height: 100vh;
  color: $slate;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 15rem 0 10rem 0;
  padding: 0 1rem;

  &Description {
    width: 100%;
    & p {
      margin-bottom: 1rem;
      font-family: $font-sans;
      @extend .is-size-2;
    }
  }

  &Tecnologies {
    display: flex;
    margin: 2rem 1rem 0;
    gap: 2rem;
    list-style-type: none;
    align-items: center;
    & li::before {
      content: '\25b6';
      color: $green;
      font-size: 0.5rem;
      margin-right: 1rem;
    }
    & li {
      display: flex;
      font-family: $font-mono;
      @extend .is-size-4;
      margin-bottom: 0.5rem;
      align-items: center;
    }
    &Left,
    &Rigth {
      width: 100%;
    }
  }
}

@include mediaMin(md) {
  .aboutMe {
    &Description {
      width: 50%;
    }
  }
}

@include mediaMin(lg) {
  .aboutMe {
    &Description {
      width: 55%;
    }
  }
}
