.section {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  &Title {
    color: $lightest-slate;
    & span {
      color: $green;
      font-size: 1.2rem;
      font-family: $font-mono;
      font-weight: 300;
    }
  }
  &Line {
    flex: auto;
    margin-left: 0.7rem;
  }
}
