@import '../app/scss/app.scss';

* {
  padding: 0;
  margin: 0;
  font-family: $font-SpaceMono;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}
h2,
li,
p {
  font-family: $font-WorkSans;
}
body{
  background-color: $light-navy;
}
scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
scroll-page {
  top: -10rem;
  position: relative;
  @include mediaMin(lg) {
    top: -12rem;
  }
}